:root{
    font-size: 16px;
}

body{
    height: 1500px;
    width: auto;
    min-height: 100vh;
    margin: 0;
    position: relative;

    /* overflow: hidden; */

    background-color: #333;
}

/* .caja-principal-movil{
    height: 100%;

    background-color: #333;
} */

header{
    box-sizing: border-box;
    max-height: 70px;
    width: 100%;;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 500;

    background-color: rgb(122, 166, 151);
    padding: 10px;
    padding-left: 0;

    /* visibility: hidden; */
}

.flecha-regresar-atras,
.vidiollamada,
.llamada,
.mas-opciones{
    margin-top: auto;
    margin-bottom: auto;
}


.foto-de-perfil{
    width: 50px;
    height: 50px;

    background-color: chartreuse;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
}

.foto-de-perfil-class{
    width: 100%;
    height: 100%;

    border-radius: 50%;
}
.nombre-y-conexion{
    margin-top: auto;
    margin-bottom: auto;
}

.nombre-del-usuario{
    font-size: 1.5rem;
    margin-top: auto;
}

.llamada{
    margin-right: 16px;
    margin-left: 16px;
}

.vidiollamada{
    margin-left: auto;
}


/* .mas-opciones{
    padding-right: 20px;
} */

/* .vidiollamada, 
.llamada,
.mas-opciones{
    text-align: end;
} */

footer{
    box-sizing: border-box;
    max-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;

    /* background-color: brown;
    padding: 10px; */

    z-index: 400;
}

.inviar-mensajes-y-mas{
    width: auto;
    display: flex;
    flex: 1;
    margin-right: 10px;
    margin-left: 5px;

    background-color: blueviolet;
    padding: 10px;
    border-radius: 18px;
}

.stickers{
    margin-right: 5px;
}

.input-para-escribir-mensajes{
    width: auto;
}

input{
    flex: 1;
    min-width: 0;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    background-color: blueviolet;
    border: none;
    caret-color: chartreuse;
    color: white;
}

input::placeholder{
    color: black;
    opacity: 0.5;
}

input:focus{
    outline: none;
}



.mas-archivos{
    margin-left: auto;
}

.camara{
    margin-left: 16px;
}

.grabar-voz{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    flex-grow: 0;
    
    /* padding: 10px; */
    background-color: chartreuse;
    border-radius: 50%;
}


.stickers,
.mas-archivos,
.camara{
    margin-top: auto;
    margin-bottom: auto;
}

/* #mic{
    fill: 1;
    font-variation-settings:
        'FILL' 1;
} */

/* .caja-invisible{
    width: 168.425px;
    height: 65.6px;

    visibility: hidden;
} */

#Primer-mensaje{
    margin-top: 75px;
}


.caja-de-mesaje-izquierdo{
    width: max-content;
    max-width: 80%;
    margin-top: 5px;
    margin-left: 15px;
    position: relative;

    background-color: cyan;
    border-radius: 0px 7px 7px 7px;
    padding: 5px 5px 2px 5px;

    z-index: 0;
}

.mensaje-interno-izquierdo{
    padding: 5px 0px 0px 0px;
}

/* .hora-del-invio{
    background-color: cyan;
    padding: 0 2px 2px 2px;
    font-size: 10px;
} */

.hora{
    padding: 0 2px 2px 2px;
    font-size: 10px;
    margin-left: auto;
    width: max-content;
}

.caja-de-mesaje-izquierdo::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: -5px;

    border-bottom-left-radius: 100px;
    border-top-left-radius: 7px;

    /* border-bottom-right-radius: 100px  100px;
    border-top-right-radius: 7px; */

    background-color: cyan;
}
/* ?Mensaje respuesta izquierda */
.caja-padre-de-respuesta-izquierdo{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    padding: 0 3px 3px 6px;
    background-color: rgb(59, 177, 177);
    border-radius: 7px 7px 7px 7px;
}

.caja-padre-de-respuesta-izquierdo::before{
    content: '';
    position: absolute;
    left: 0;

    width: 3px;
    height: 100%;

    background-color: rgb(227, 31, 70);
}

.Respueta-otro-derecho{
    color: rgb(227, 31, 70);
}


/* !Mensajes derechos: */
.caja-de-mesaje-derecho{
    width: max-content;
    max-width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 15px;
    position: relative;

    background-color: crimson;
    border-radius: 7px 0 7px 7px;
    padding: 5px 5px 2px 5px;

    z-index: 0;
}

.mensaje-interno-derecho{
    padding: 5px 0px 0px 0px;
}

.hora-derecho{
    width: max-content;
    margin-left: auto;

    font-size: 10px;
    /* padding: 0 2px 2px 2px; */
}

.caja-de-mesaje-derecho::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: -5px;

    border-bottom-right-radius: 100px;
    border-top-right-radius: 7px;

    background-color: crimson;
}

/* ?Respuetas a mensajes derecho: */
.caja-padre-de-respuesta-Derecho{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    padding: 0px 3px 3px 6px;
    border-radius: 7px 7px 7px 7px;
    background-color: rgb(176, 51, 76);
    /* box-shadow: -4px 0 0 -1px black; */
}

.caja-padre-de-respuesta-Derecho::before{
    content: '';
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;

    background-color: aquamarine;
}

.Respueta-tu-derecho{
    color: aquamarine;
}

/* ?Mensaje derecho: FOTO */
.mensaje-derecho-globo-imegen{
    display: flex;
    justify-content: end;

    margin-top: 5px
}

.globo-derecho{
    position: relative;
    max-width: 60%;
    max-height: 400px;
    margin-right: 15px;

    background-color: crimson;
    border-radius: 7px 0 7px 7px;
    padding: 5px;
}

.globo-derecho img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;

    border-radius: 7px;
}

.globo-derecho::after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 10px;

    border-bottom-right-radius: 100px;
    border-top-right-radius: 7px;

    background-color: crimson;
}

.caja-de-mesaje-derecho-foto{
    /* box-sizing: border-box; */
    max-width: 60%;  /* El ancho máximo del globo */
    max-height: 00px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #e0e0e0; /* Estilo del globo */
}

/* .mensaje-interno-derecho-foto{
    margin-top: 5px;
    width: 100%;
    height: 100%;
} */


/* .caja-de-mesaje-derecho-foto img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
} */

/* .caja-de-mesaje-derecho-foto::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    right: -10px;

    border-bottom-right-radius: 100px;
    border-top-right-radius: 7px;

    background-color: crimson;
} */

.reenvio-derecho{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -65px;
    width: 50px;
    height: 50px;

    color: white;
}

.hora-derecho-foto{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 10px;

    font-size: 10px;
    color: white;
}

/* .audio-derecho{
    background-color: aqua;
} */

/* #musicPlayer{
    background-color: blue;
} */

.caja-invisible-footer{
    width: auto;
    height: 65px;
    visibility: hidden;
}

.caja-invisible-o-transparente{
    position: fixed;
    width: 100%;
    height: 65px;
    bottom: 0;

    background-color: #333;
    z-index: 300;
}

/* !Para moviles */
@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }

    .nombre-del-usuario{
        font-size: 16;
    }

    .conexion-o-hora-de-ultima-vez{
        font-size: 8.5px;
    }

    .inviar-mensajes-y-mas{
        margin-right: 5px;
    }

    .caja-de-mesaje-izquierdo{
        font-size: 14px;
    }

    footer{
        bottom: 5px;
    }

    .caja-invisible-o-transparente{
        height: 55px;
    }
}
